//该文件下不能使用es6语法
var format = function (txt) {
    if (!txt) return
    var reg = getRegExp("\\\\n", "g");
    return txt.replace(reg, '\n&nbsp;&nbsp;&nbsp;&nbsp;')
}
var limit = function (array, length) {
    return array.splice(0, length)
}
var highlight = function (index) {
    if (index == 0) return 'ex-tag'
    if (index == 1) return 'ex-tag-1'
    return ''
}
module.exports = {
    format: format,
    limit: limit,
    highlight: highlight
}